<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @glamour.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @glamour.character_name %>
</p>

<p>
  <strong>World:</strong>
  <%= @glamour.character_world %>
</p>

<p>
  <strong>Class:</strong>
  <%= @glamour.character_class %>
</p>

<p>
  <strong>Head:</strong>
  <%= @glamour.head %>
</p>

<p>
  <strong>Chest:</strong>
  <%= @glamour.chest %>
</p>

<p>
  <strong>Arms:</strong>
  <%= @glamour.arms %>
</p>

<p>
  <strong>Legs:</strong>
  <%= @glamour.legs %>
</p>

<p>
  <strong>Feet:</strong>
  <%= @glamour.feet %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @glamour.comment %>
</p>

<%= link_to 'Edit', edit_glamour_path(@glamour) %> |
<%= link_to 'Back', glamours_path %>
